* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    height:100%;
}
nav {
    margin: 0;
    padding: 0;
    background-color: #111111;
    width: 100%;
    position: sticky;
    top: 0;
    color: #dddddd;
    font-family: 'Lato', sans-serif;
    z-index:5;
}
#navwrapper {
    display:flex;
    width: 65%;
    margin: 0 auto;
    justify-content: space-between;
}
.navitem {
    margin:0;
    padding: 0 20px 0 20px;
}
.navitem>h4 {
    font-size:1.4rem;
    margin: 10px 0 2px 0;
}
.navitem>p {
    font-size:0.6rem;
    margin: 2px 0 10px 0;
}
header {
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
    height:auto;
    overflow:hidden;
}
#headerwrapper {
    width: 65%;
    height:100%;
    margin: 0 auto;
    background-size: auto 100%;
    background-image: url(headerbackground.png);
    background-repeat: no-repeat;
    background-position: right;
    overflow:hidden;
}
#headertext {
    width:50%;
}
header h1 {
    font-family: 'Mukta', sans-serif;
    margin: 0;
    font-size:2.4rem;
    padding: 40px 0 0 0;
}
header h2 {
    font-family: 'Poppins', sans-serif;
    font-size:1.8rem;
    font-weight:600;
    margin: 0;
    padding:20px 0 10px 0;
}
header p {
    font-family: 'Mukta', sans-serif;
    font-size:0.8rem;
    width:80%;
    margin:0;
    padding:0 0 10px 0;
}
#badges {
    display: flex;
    padding: 8px 0 20px 0;
    font-size:2.6rem;
}
#showcase {
    margin: 0;
    padding: 0;
    background-color: #bbbbbb;
    width:100%;
}
#showcasewrapper {
    width:65%;
    display: flex;
    margin: 0 auto;
}
#showcasetext {
    width:40%
}
#showcasetext h2 {
    font-family: 'Poppins', sans-serif;
    font-size:1.8rem;
    font-weight:600;
    margin: 0;
    padding:40px 0 10px 0;
}
#showcasetext h3 {
    font-family: 'Poppins', sans-serif;
    font-size:0.75rem;
    width:90%;
    margin:0;
    padding:4px 0 4px 0;
}
#showcasetext p {
    font-family: 'Mukta', sans-serif;
    font-size:0.9rem;
    width:90%;
    margin:0;
    padding:4px 0 40px 0;
}
#showcaseviewer {
    width:60%;
    height:266px;
    border: 8px solid #111111;
    border-radius: 6px;
    margin:40px 0 40px 0;
    background-image: url(projectexample.jpg);
    background-size: 100% auto;
}
.showcasenav {
    margin: 20% 0 25% 0;
    background-color:#66666699;
    color: #ffffff;
    width: 40px;
    height:30px;
    border:0;
}
#showcaseleft {
    float:left;
}
#showcaseright {
    float:right;
}
#showcasebottom {
    margin-top:224px;
    background-color:#33333399;
    text-align:center;

}
#showcaseview {
    background-color:transparent;
    color: #ffffff;
    border:0;
    font-size:1.4rem;
}
#contact {
    margin: 0;
    padding: 0;
    background-color: #222222;
    width: 100%;
    color:#ffffff;
}
#contactwrapper {
    width:65%;
    margin:0 auto;
}
ul {
    list-style-type: none;
    margin:0 auto;
    padding:10px 0 10px 0;

}
ul>li{
    padding: 2px 0 2px 0;
    line-height:0.8rem;
    font-size:0.8rem;
    font-family: 'Mukta', sans-serif;
}
@media screen and (max-width: 1114px) {
    #showcasetext {
        width: 100%;
    }
    #showcasetext p {
        padding: 4px 0 20px 0;
    }
    #showcaseviewer {
        width: 100%;
        margin:20px 0 40px 0;
    }
    #showcasewrapper {
        flex-direction: column;
    }
}
@media screen and (max-width: 500px) {
    #navwrapper {
        width:90%;
    }
    #headerwrapper {
        width:90%;
    }
    #showcasewrapper {
        width: 90%;
    }
    #contactwrapper {
        width: 90%;
    }
}